<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Medication</title>
</head>
<body>
    <h1>Add Medication</h1>
  <!--server ma kei halnu xa bhne form banayera post garinca -->
    <!-- Each field in the form has a name attribute, which acts as the key when the form is submitted to the backend.-->
    <form method="POST">
        <label for="User name">User Name:</label>
        <input type="text"  name="Username" id="Username" required>

        <label for="name">Medicine Name:</label>
        <input type="text" id="name" name="name" required>
        <br>
        <label for="dosage">Dosage:</label>
        <input type="text" id="dose" name="dose" required>
        <br>
        <label for="frequency">Frequency:</label>
        <input type="text" id="frequency" name="frequency" required>
        <br>
        <label for="time">Time:</label>
        <input type="time" id="time" name="time" required>
        <br>
        <button type="submit">Add Medicine</button>
    </form>
    <a href="/">Back to homepage</a>
</body>
</html>
