<!--This is the homepage of bot in web that displays list of medicines-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1> Medication list</h1>
<!--ul is unoredered list where order doesnot matter-->
<ul>
    {%for med in medications %} <!--this is for each loop in html ani yo medications chai app.py bata ako xa ani name,frequency,dose chai database ko ho which in medications-->
     <li> {{med.Username}}-{{ med.name }} - {{ med.dose }} - {{ med.frequency }} - {{ med.time }}
        <a href="/edit/{{ med.id }}">Edit</a>  <!-- Ensure the correct id is used here -->
    </li>
    {%endfor %}
</ul>
    <a href="/add">Add Medication</a>
</body>
</html>